.icono-home-navbar {
    padding-left: .6rem;
}

.icono-portfolio-navbar {
    padding-left: 1.75rem;
}

.icono-contact-navbar {
    padding-left: 1.4rem;
}

.centrar-item-nav {}

.centrar {
    text-align: center;
}

.color-verde-base {
    color: #A7D129;
}

body {
    background-image: url('/images/background3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-color: #1B1919; */
}

@media (max-width: 767px) {
    .icono-home-navbar {
        padding-left: 0rem;
    }
    .icono-portfolio-navbar {
        padding-left: 0rem;
    }
    .icono-contact-navbar {
        padding-left: 0rem;
    }
    .centrar-item-nav {
        padding: 0;
        text-align: center;
    }
}